@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

.my-nav-link{
    color: #f8fafc;
    text-decoration: none;  
}
.my-nav-link:hover{
    color: #cbd5e1;
    text-decoration: none;  
}
.bg-blue{
    background-color: #075985;
}

.bg-gray{
    background-color: #f3f4f6;
}

.btn-blue{
    background-color: #075985;
}